.advantages {
  margin-bottom: 26px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 38px;

  @include second-title-style;
}

.advantages__list {
  @include lists-base;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 230px 246px 248px 246px;
    grid-gap: 77px;
  }
}

.advantages__item {
  padding-bottom: 24px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding: 140px 30px 60px 0;
    width: 245px;
    margin-bottom: 40px;
  }

  &--nutrients {
    @media (min-width: $tablet-width) {
      background-image: url("../img/1.png");
      background-repeat: no-repeat;
      background-position: 60% 70%;
    }
  }

  &--cooking {
    @media (min-width: $tablet-width) {
      background-image: url("../img/2.png");
      background-repeat: no-repeat;
      background-position: 75% 50%;
    }
  }

  &--meal {
    @media (min-width: $tablet-width) {
      background-image: url("../img/3.png");
      background-repeat: no-repeat;
      background-position: 70% 60%;
    }
  }

  &--time {
    @media (min-width: $tablet-width) {
      background-image: url("../img/4.png");
      background-repeat: no-repeat;
      background-position: 70% 50%;
    }
  }
}
