.advantages {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__title {
  @include second-title-style;
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.advantages__list {
  @include lists-base;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 248px 248px 248px 246px;
    grid-gap: 77px;
  }
}

.advantages__item {
  padding-left: 80px;
  background-repeat: no-repeat;
  padding-top: 22px;
  line-height: 18px;
  padding-bottom: 4px;
  background-position: 14px 32px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $green-base;
    bottom: 1px;
    left: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      bottom: 164px;
      left: 1px;
    }

    @media (min-width: $desktop-width) {
      bottom: 164px;
      left: 0;
    }
  }

  &:first-child {
    padding-top: 5px;

    @media (min-width: $tablet-width) {
      padding-top: 140px;
    }
  }

  &--nutrients {
    background-image: url("../img/icon-leaf.svg");
    background-position: 15px 16px;

    @media (min-width: $tablet-width) {
      background-position: 24px 52px;
    }

    @media (min-width: $desktop-width) {
      background-position: 25px 53px;
    }
  }

  &--cooking {
    background-image: url("../img/icon-water.svg");
    background-position: 15px 32px;

    @media (min-width: $tablet-width) {
      background-position: 26px 51px;
    }

    @media (min-width: $desktop-width) {
      background-position: 25px 53px;
    }
  }

  &--meal {
    background-image: url("../img/icon-meal.svg");
    background-position: 18px 34px;

    @media (min-width: $tablet-width) {
      background-position: 28px 55px;
    }

    @media (min-width: $desktop-width) {
      background-position: 28px 53px;
    }
  }

  &--time {
    background-image: url("../img/icon-clock.svg");
    background-position: 14px 33px;

    @media (min-width: $tablet-width) {
      background-position: 24px 53px;
    }

    @media (min-width: $desktop-width) {
      background-position: 24px 51px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 140px 80px 60px 0;
    width: 245px;
    margin-bottom: 44px;
    position: relative;
    line-height: inherit;

    &::before {
      counter-increment: section;
      content: counters(section, ".");
      font-family: "Oswald", "Verdana", sans-serif;
      color: $grey-base;
      position: absolute;
      top: -82px;
      left: 115px;
      z-index: -1;
      font-size: 279px;
    }
  }
}
