.advantages {
  margin-bottom: 41px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 33px;

  @include second-title-style;
}

.advantages__list {
  @include lists-base;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 230px 246px 248px 246px;
    grid-gap: 77px;
  }
}

.advantages__item {
  padding-left: 80px;
  background-repeat: no-repeat;
  padding-top: 22px;
  line-height: 18px;
  padding-bottom: 4px;
  background-position: 0 19px;

  &:first-child {
    padding-top: 5px;
    background-position: 0 2px;
  }

  &--nutrients {
    background-image: url("../img/icon-leaf.svg");
  }

  &--cooking {
    background-image: url("../img/icon-water.svg");
  }

  &--meal {
    background-image: url("../img/icon-meal.svg");
  }

  &--time {
    background-image: url("../img/icon-clock.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 140px 30px 60px 0;
    width: 245px;
    margin-bottom: 40px;
    position: relative;
    background-size: 80px 80px;
    background-position: 0 30px;

    &::before {
      counter-increment: section;
      content: counters(section, ".");
      font-size: 280px;
      font-family: "Oswald", "Verdana", sans-serif;
      color: $grey-base;
      position: absolute;
      top: -80px;
      right: 40px;
      z-index: -1;
    }
  }
}
