.button {
  background-color: $green-base;
  padding: 11px 44px;
  text-decoration: none;
  color: $color-white-base;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-add;
  font-size: 16px;

  &--introduction {
    margin-top: 136px;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 244px;
      padding: 14px 26px;
      font-size: 20px;
      margin-left: 90px;
      z-index: 2;
      margin-bottom: 526px;
    }
  }

  &--form-submit {
    border: none;
  }

  &--secondary {
    background-color: $grey-undeground;
    color: $color-base;
    margin-bottom: 25px;
  }
}
