.catalog {
  font-size: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 114px;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 140px 60px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    grid-gap: 143px 80px;
  }

  &--additional {
    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 62px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 65px;
    }
  }
}

.catalog__item {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: $grey-base;
    padding: 0 37px 38px 39px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 0 39px 40px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: $grey-undeground;
    display: block;
    margin-left: calc((280px - 100vw) / 2);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.catalog__item-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog__item-title {
  @include third-title-catalog-style;
  width: 100px;
  margin-top: 21px;
  margin-bottom: 13.5px;


  @media (min-width: $tablet-width) {
    width: 155px;
    margin: 0 auto 8px;
    text-align: center;
    margin-bottom: 17px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    margin-bottom: 20px;
  }
}

.catalog__item-link {
  text-decoration: none;
  cursor: pointer;
  color: $black-special;
}

.catalog__image-link {
  padding-top: 19px;
  height: 112px;

  @media (min-width: $tablet-width) {
    display: flex;
    height: 202px;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -90px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -98px;
  }
}

.catalog__image {
  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.catalog__item-description {
  padding-bottom: 0;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-bottom: 10px;
  }
}


.catalog__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    border-collapse: collapse;
    margin-bottom: 20px;
  }
}

.catalog__table-row {
  display: flex;
  justify-content: space-between;
  width: 142px;
  height: 16px;

  @media (min-width: $tablet-width) {
    height: auto;
  }

  &:first-of-type {
    width: 139px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      width: auto;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-input-additional;
  }
}

.catalog__table-th {
  text-align: left;
  font-weight: 400;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.catalog__table-td {
  text-align: right;
  padding-top: 0;
}

.catalog__all {
  padding-bottom: 25px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    border: 2px solid $grey-base;
    padding: 0 35px 29px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 37px 37px 35px;
  }

  &::after {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $grey-undeground;
    display: block;
    margin-left: calc((280px - 100vw) / 2);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $grey-undeground;
    display: block;
    margin-left: calc((280px - 100vw) / 2);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.catalog__additional-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__all-title {
  @include third-title-catalog-style;
  padding-top: 79px;
  margin: 0 0 8px;
  color: $black-add;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto 24px;
    padding-top: 163px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 160px;
  }
}

.catalog__all-text {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    line-height: 18px;
    width: 170px;
    margin: 0 auto 86px;
  }
}

.catalog__title {
  @include third-title-style;
  margin-top: -3px;
  margin-bottom: 29px;
  position: relative;
  background-color: white;
  width: 247px;

  &::after {
    content: "";
    height: 2px;
    width: 150vw;
    background-color: $green-base;
    position: absolute;
    left: 0;
    top: 18px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 30px;
      left: calc(50% - 50vw);
    }

    @media (min-width: $desktop-width) {
      top: 33px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 411px;
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-bottom: 72px;
  }
}

.catalog__additional-title-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 0 32px 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 32px 40px;
  }
}

.catalog__list {
  @include lists-base;
  border-top: 1px solid $border-input-additional;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $border-input-additional;
    border-right: 1px solid $border-input-additional;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    border: 0;
  }
}

.catalog__list-item {
  border-bottom: 1px solid $border-input-additional;
  padding-bottom: 16px;

  &:first-child {
    @media (min-width: $desktop-width) {
      border-top: 1px solid $border-input-additional;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 37px 26px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding: 0;
    display: grid;
    grid-template-columns: 324px 326px 245px;
    padding-bottom: 0;
  }
}

.catalog__list-item-title {
  @include third-title-catalog-style;
  margin: 12px 0 0 1px;

  @media (min-width: $tablet-width) {
    margin: 25px 0 26px;
  }
}

.catalog__additional-list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 9px;
  margin-bottom: 13.5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    display: grid;
    grid-template-columns: 132px 84px;
    width: 225px;
    grid-gap: 0;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 18px;
  }
}

.catalog__additional-term {
  height: 17px;

  @media (min-width: $desktop-width) {
    width: 75%;
  }
}

.catalog__additional-value {
  height: 17px;

  @media (min-width: $desktop-width) {
    width: 16%;
  }
}

.catalog__present {
  margin-top: 40px;
  margin-bottom: 34px;
  background-color: $green-base;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo.png");
  background-position: 100px 57px, 0;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo@2x.png");
    background-size: auto, 280px 289px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 68px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-long.png");
    background-position: 79px 56px, 0;
    margin-bottom: 76px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-long@2x.png");
      background-size: auto, 708px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-small.png");
    margin-bottom: 87px;
    background-position: 85px 57px, 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-small@2x.png");
      background-size: auto, 245px 289px;
    }
  }
}

.catalog__present-description {
  padding-top: 186px;
  padding-bottom: 43px;
  color: $color-white-base;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
    padding-bottom: 68px;
    text-align: start;
    margin-right: 124px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 161px;
    margin: 0;
    padding: 188px 43px 42px 41px;
  }
}

.catalog .button {
  padding-top: 10px;
  padding-bottom: 10.5px;
  height: 40.5px;

  @media (min-width: $tablet-width) {
    line-height: 19px;
  }
}
