.catalog__item {
  border-bottom: 1px solid $grey-undeground;
  padding-bottom: 30px;
  font-size: 12px;
}

.catalog__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__item-title {
  @include third-title-catalog-style;
  width: 100px;
  line-height: 20px;
}

.catalog__item-link {
  text-decoration: none;
  cursor: pointer;
  color: $black-special;
}

.catalog__image {
  margin: auto;
}

.catalog__item-description {
  padding-bottom: 20px;
  width: 50%;
}

.catalog__table {
  width: 100%;
}

.catalog__table-th {
  text-align: left;
  font-weight: 400;
}

.catalog__table-td {
  text-align: right;
}

.catalog__all {
  padding-top: 75px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid $grey-undeground;
}

.catalog__all-title {
  @include third-title-catalog-style;
  margin: 0;
}

.catalog__all-text {
  font-size: 12px;
}

.catalog__title {
  @include third-title-style;
  margin-top: 25px;
  margin-bottom: 36px;
}

.catalog__list {
  @include lists-base;
  border-top: 1px solid $border-input-additional;
}

.catalog__list-item {
  border-bottom: 1px solid $border-input-additional;
  padding-bottom: 19px;
}

.catalog__list-item-title {
  @include third-title-catalog-style;
}

.catalog__additional-list {
  display: flex;
  justify-content: space-between;
}

.catalog__present {
  margin-top: 38px;
  background-color: $green-base;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile.png");
  background-position: 100px 40px, 0;
  background-repeat: no-repeat;
}

.catalog__present-description {
  padding-top: 186px;
  padding-bottom: 43px;
  color: $color-white-base;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  margin: 0 auto;
  text-align: center;
}
