.copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__link {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-base;
}

.copyright__text {
  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}
