.copyright {
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__link {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-base;
  fill: $grey-icon;

  &:hover {
    fill: $green-base;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}
