.example {
  background-color: $grey-additional;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: $color-white-base;
    border-top: 1px solid $grey-undeground;
  }
}

.example__statistics {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 33px;

  @include second-title-style;
}

.example__intro {
  margin-top: 0;
  margin-bottom: 25px;
}

.example__facts {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.example__list {
  text-align: center;
  display: grid;
  border: 1px solid $grey-border;
  border-radius: 5px;
  width: 122px;
  position: relative;
  margin-bottom: 23px;
  grid-template-rows: 40px 20px;

  @media (min-width: $tablet-width) {
    grid-template-rows: 40px 30px;
    width: 162px;
  }
}

.example__numbers {
  @include third-title-style;
  text-transform: uppercase;
  margin-left: 0;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 13px 0 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 10px;
  }
}

.example__name {
  font-size: 12px;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 77px;
  margin-left: auto;
  margin-right: auto;
  line-height: 12px;
  position: absolute;
  bottom: -15px;
  left: 25px;
  background-color: $grey-additional;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    background-color: $color-white-base;
    width: auto;
    bottom: -5px;
    padding: 0 5px;
    text-align: center;
  }

  &--time {
    @media (min-width: $tablet-width) {
      width: 127px;
      left: 14px;
    }
  }
}

.example__price {
  color: $black-bold;
  font-family: $font-add;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 174px;
    text-align: right;
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    background-color: $grey-additional;
  }
}
