.footer__bottom {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $grey-base;
  text-align: center;
}

.footer__bottom-elements {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
