.footer__bottom {
  padding-top: 38px;
  padding-bottom: 14px;
  background-color: $grey-base;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 72px 0 72px;
  }
}

.footer__bottom-elements {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}
