.form {
  font-size: 16px;
  font-family: $font-add;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.form__fieldset-group {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__group {
  border: none;
  margin: 0 0 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  &--information {
    & :last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      @include width-form-items;
    }
  }

  &--radio {
    @media (min-width: $tablet-width) {
      border: 1px solid $border-input;
      padding-top: 30px;
      padding-left: 35px;
    }

    @media (min-width: $desktop-width) {
      @include width-form-items;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $grey-undeground;
      display: block;
      margin-left: calc((280px - 100vw) / 2);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $grey-undeground;
      display: block;
      margin-left: calc((280px - 100vw) / 2);
      margin-bottom: 25px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.form__fieldset-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__group-checkbox-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__group-input-wrapper {
  @media (min-width: $tablet-width) {
    width: 286px;
  }
}

.form__group-title {
  @include third-title-style;
  text-transform: none;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.form__field {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 15px;

  &--contacts {
    @media (min-width: $desktop-width) {
      @include width-form-items;
    }
  }

  &--radio {
    padding-left: 45px;
    position: relative;
    margin-bottom: 20px;
  }

  &--checkbox {
    padding-bottom: 12px;
    padding-left: 45px;
    position: relative;
  }
}

.form__input {
  margin-left: 15px;
  width: 100%;
  padding-top: 13px;
  padding-left: 15px;
  border: 1px solid $border-input;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-family: $font-add;
  font-size: 16px;

  &::placeholder {
    color: $color-base;
  }

  &--email {
    border-color: $border-input-additional;
    background-image: url("../img/icon-email.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }

  &--tel {
    border-color: $border-input-additional;
    margin-bottom: 0;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: 95% 45%;
  }
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $border-input-additional;
  border-radius: 50%;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $green-base;
}

.form__input-radio:focus + label::before {
  outline: 1px solid;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $border-input-additional;
  left: 0;
  bottom: 7px;

  @media (min-width: $tablet-width) {
    bottom: 9px;
  }
}

.form__input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  left: 0;
  bottom: 7px;

  @media (min-width: $tablet-width) {
    bottom: 9px;
  }
}

.form__input-checkbox:focus + label::before {
  outline: 1px solid;
}

.form__textarea {
  width: 100%;
  height: 150px;
  text-transform: uppercase;
  font-family: $font-add;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;
  border-color: $border-input;

  @media (min-width: $tablet-width) {
    height: 174px;
  }

  &::placeholder {
    color: $color-base;
  }
}

.form__finish {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 45% 55%;
    padding-bottom: 50px;
  }
}

.form__footnote {
  font-family: $font-base;
  font-size: 14px;
  text-align: center;
}
