.form {
  font-size: 16px;
  font-family: $font-add;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.form__fieldset-group {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__group {
  border: none;
  margin: 0 0 26px;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  &--textarea {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 71px;
    }
  }

  &--contacts {
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 53px;
    }
  }

  &--checkbox {
    margin-bottom: 17px;

    @media (min-width: $desktop-width) {
      margin-bottom: 25px;
    }
  }

  &--information {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    &:last-of-type {
      margin-bottom: 0;
      width: 75%;
    }

    @media (min-width: $desktop-width) {
      @include width-form-items;
    }
  }

  &--radio {
    margin-bottom: 28px;
    position: relative;

    @media (min-width: $tablet-width) {
      border: 1px solid $border-input;
      padding-top: 32px;
      padding-left: 43px;
      padding-bottom: 5px;
      margin-bottom: 80px;
    }

    @media (min-width: $desktop-width) {
      @include width-form-items;
      box-sizing: border-box;
      margin-bottom: 72px;
    }

    &::after {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $grey-undeground;
      display: block;
      margin-left: calc((280px - 100vw) / 2);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $grey-undeground;
      display: block;
      margin-left: calc((280px - 100vw) / 2);
      position: absolute;
      top: -27px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.form__fieldset-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__group-checkbox-wrapper {
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -15px;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__group-input-wrapper {
  margin-bottom: 24px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 286px;
    margin-bottom: 0;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.form__group-title {
  @include third-title-style;
  text-transform: none;
  margin-bottom: 30px;
  margin-right: 79px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  &--decorated {
    position: relative;
    line-height: 26px;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-left: -40px;
      margin-bottom: 81px;
    }

    &::after {
      content: "";
      height: 2px;
      width: 150vw;
      background-color: $green-base;
      position: absolute;
      left: 0;
      top: 16px;
      z-index: -1;

      @media (min-width: $tablet-width) {
        left: calc(50% - 50vw);
        top: 17px;
      }
    }
  }
}

.form__field {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &--contacts {
    position: relative;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      @include width-form-items;
    }
  }

  &--radio {
    padding-left: 45px;
    position: relative;
    margin-bottom: 23px;
    height: 20.5px;

    @media (min-width: $tablet-width) {
      height: auto;
    }
  }

  &--checkbox {
    padding-bottom: 7px;
    padding-left: 45px;
    position: relative;
    height: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
      padding-left: 58px;
      height: auto;
    }
  }
}

.form__input {
  margin-left: 15px;
  width: 100%;
  padding-top: 9px;
  padding-left: 15px;
  outline: 1px solid $border-input;
  padding-bottom: 11px;
  text-transform: uppercase;
  font-family: $font-add;
  font-size: 16px;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    font-size: 20px;
    padding-left: 18px;
    margin-left: 18px;
    border: none;
  }

  &:hover {
    outline: 1px solid $border-input;
  }

  &:focus {
    outline: 2px solid $color-base;
  }

  &::placeholder {
    color: $color-base;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    outline: 2px solid $error;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &--email {
    outline: 1px solid $border-input-additional;
    margin-left: 11px;
    padding-top: 10px;
    padding-bottom: 9px;

    &:hover {
      outline: 1px solid $border-input-additional;
    }

    @media (min-width: $tablet-width) {
      padding: 10px 18px 11px;
      margin-left: 21px;
    }
  }

  &--tel {
    outline: 1px solid $border-input-additional;
    margin-bottom: 0;
    margin-left: 11px;
    padding-top: 10px;
    padding-bottom: 9px;

    &:hover {
      outline: 1px solid $border-input-additional;
    }

    @media (min-width: $tablet-width) {
      margin-left: 15px;
      padding-left: 19px;
    }
  }

  &--error {
    outline: 2px solid $error;
  }
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  appearance: none;
}

.form__input--email:focus + svg {
  fill: $green-base;
}

.form__input--tel:focus + svg {
  fill: $green-base;
}

.form__input--error + svg {
  fill: $error;
}

.form__email-svg {
  position: absolute;
  right: 15px;

  @media (min-width: $tablet-width) {
    right: 16px;
    top: 18px;
  }

  @media (min-width: $desktop-width) {
    right: 19px;
  }
}

.form__phone-svg {
  position: absolute;
  right: 13px;

  @media (min-width: $tablet-width) {
    right: 16px;
    top: 16px;
  }

  @media (min-width: $desktop-width) {
    top: 15px;
  }
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  left: -1px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $border-input-additional;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -15px;
    width: 38px;
    height: 38px;
  }
}

.form__input-radio:hover + label::before {
  border-color: $hover-custom-input;
}

.form__input-radio:disabled + label {
  opacity: 0.3;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $green-base;

  @media (min-width: $tablet-width) {
    left: -4px;
    width: 18px;
    height: 18px;
    top: 5px;
  }

  @media (min-width: $desktop-width) {
    left: -5px;
    top: 3px;
  }
}

.form__input-radio:focus + label::before {
  outline: 1px solid;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 28px;
  border: 1px solid $border-input-additional;
  left: 0;
  bottom: 2px;

  @media (min-width: $tablet-width) {
    bottom: 2px;
    width: 37px;
    height: 37px;
  }
}

.form__input-checkbox:hover + label::before {
  border-color: $hover-custom-input;
}

.form__input-checkbox:disabled + .form__field--checkbox {
  opacity: 0.3;
}

.form__input-checkbox:disabled + label::before {
  opacity: 0.3;
  border-color: $hover-custom-input;
}

.form__input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  left: 0;
  bottom: 2px;

  @media (min-width: $tablet-width) {
    bottom: 2px;
    background-position: 10px 12px;
  }
}

.form__input-checkbox:focus + label::before {
  outline: 1px solid;
}

.form__textarea {
  width: 100%;
  height: 150px;
  text-transform: uppercase;
  font-family: $font-add;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;
  border-color: $border-input;
  resize: none;
  padding-top: 6px;
  margin-top: 2px;
  border: 1px solid $border-input;

  @media (min-width: $tablet-width) {
    height: 174px;
    margin-top: 0;
    padding-left: 18px;
    padding-top: 9px;
    font-size: 20px;
  }

  &::placeholder {
    color: $color-base;
  }
}

.form__finish {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 45% 55%;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 46.6% 53.4%;
    margin-left: 1px;
  }
}

.form__footnote {
  font-family: $font-base;
  font-size: 14px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 12px;
    margin-left: 61px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
    margin-top: 14px;
  }
}

.form__group-title-text {
  display: inline-block;
  background-color: $color-white-base;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }
}
