.form {
  font-size: 16px;
  font-family: $font-add;
}

.form__group {
  border: none;
  margin: 0;
  padding: 15px 0 12px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 12px;

  &--radio {
    &::after {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $grey-undeground;
      display: block;
      margin-left: calc((280px - 100vw) / 2);
    }

    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $grey-undeground;
      display: block;
      margin-left: calc((280px - 100vw) / 2);
      margin-bottom: 25px;
    }
  }

  &--no-border {
    border: 0;
    margin: 0;
  }
}

.form__group-title {
  @include third-title-style;
  text-transform: none;
  margin-bottom: 14px;
}

.form__field {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 15px;

  &--radio {
    padding-bottom: 12px;
    padding-left: 45px;
    position: relative;
  }

  &--checkbox {
    padding-bottom: 12px;
    padding-left: 45px;
    position: relative;
  }
}

.form__input {
  margin-left: 15px;
  width: 100%;
  padding-top: 13px;
  padding-left: 15px;
  border: 1px solid $border-input;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-family: $font-add;
  font-size: 16px;

  &::placeholder {
    color: $color-base;
  }

  &--email {
    border-color: $border-input-additional;
    background-image: url("../img/icon-email.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }

  &--tel {
    border-color: $border-input-additional;
    margin-bottom: 0;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: 95% 45%;
  }
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $border-input-additional;
  border-radius: 50%;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  bottom: 15px;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $green-base;
}

.form__input-radio:focus + label::before {
  outline: 1px solid;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $border-input-additional;
  left: 0;
  bottom: 7px;
}

.form__input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  left: 0;
  bottom: 7px;
}

.form__input-checkbox:focus + label::before {
  outline: 1px solid;
}

.form__textarea {
  width: 100%;
  height: 150px;
  text-transform: uppercase;
  font-family: $font-add;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;

  &::placeholder {
    color: $color-base;
  }
}

.form__footnote {
  font-family: $font-base;
  font-size: 14px;
  text-align: center;
}
