.header {
  padding-top: 12px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-top: 42px;
  }
}
