.header {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}
