.introduction {
  margin-bottom: 22px;
}

.introduction__text-wrapper {
  background-image: url("../img/backgroundcat.png");
  background-position: 50%;
  color: $color-white-base;
  background-repeat: no-repeat;
  text-align: center;
  background-color: $green-background;
  font-family: $font-add;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgroundcat@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background: none;
    color: $black-bold;
    text-align: left;
  }

  &:first-child::after {
    @media (min-width: $desktop-width) {
      background-image: url("../img/promo-index-medium.png");
      width: 709px;
      height: 609px;
      left: 350px;
      top: 100px;
      background-repeat: no-repeat;
    }
  }
}

.introduction__title {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 23px;
  font-family: $font-add;
  line-height: 36px;
  padding-top: 27px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 60%;
    font-size: 60px;
    line-height: 60px;
    margin: 28px auto 36px 87px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin: 102px 0 36px 80px;
    width: 45%;
  }
}

.introduction__text {
  margin: 0;
  padding-bottom: 163px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    font-size: 20px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 46px;
    margin-left: 80px;
  }
}

.introduction__button-wrapper {
  position: relative;
  z-index: 2;

  @media (min-width: $desktop-width) {
    margin-bottom: 237px;
  }

  &::after {
    content: "";
    background-image: url("../img/promo-index.png");
    position: absolute;
    left: 20px;
    display: inline-block;
    bottom: 46px;
    width: 280px;
    height: 267px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-index@2x.png");
      background-size: 296px auto;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/promo-index-big.png");
      width: 709px;
      height: 609px;
      left: 29px;
      top: -29px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-index-big@2x.png");
        background-size: 709px auto;
      }
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
