.introduction {
  background-image: url("../img/backgroundcat.png");
  background-position: 50%;
  color: $color-white-base;
  background-repeat: no-repeat;
  text-align: center;
  background-color: $green-base;
}

.introduction__title {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 25px;
  font-family: $font-add;
  line-height: 36px;
  padding-top: 27px;
}

.introduction__text {
  margin: 0;
  padding-bottom: 160px;
  text-transform: uppercase;
}
