.location__contacts {
  padding-top: 28px;
  padding-bottom: 22px;
}

.location__address {
  font-family: $font-add;
  line-height: 20px;
}

.location__title {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $black-base;
}
