.location {
  background-color: $grey-base;
}

.location--index {
  background-color: $color-white-base;
}

.location__contacts {
  padding-top: 28px;
  padding-bottom: 22px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.location__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-add;
  font-family: $font-add;

  @media (min-width: $tablet-width) {
    padding: 60px 124px 40px 40px;
    font-size: 20px;
    line-height: 21px;
  }
}

.location__address {
  @media (min-width: $tablet-width) {
    padding: 60px 40px 40px 124px;
    font-size: 20px;
    line-height: 21px;
    text-align: right;
  }
}

.location__iframe {
  vertical-align: bottom;
}
