.main-nav__list {
  @include lists-base;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 70px;
  }

  &--index::after {
    @media (min-width: $desktop-width) {
      background-image: url("../img/promo-index-medium.png");
      width: 552px;
      height: 499px;
      left: -340px;
      top: 100px;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      content: "";

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-index-medium@2x.png");
        background-size: 552px auto;
      }
    }
  }
}

.main-nav__item {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  &::after {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $grey-undeground;
    display: block;
    margin-left: calc((280px - 100vw) / 2);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: $black-bold;
  text-decoration: none;
  font-family: $font-add;
  padding-bottom: 24px;
  display: block;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: $color-white-base;
    }
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
