.main {
  overflow-x: hidden;

  &--index {
    overflow-x: visible;
  }
}

.main__title {
  @include second-title-style;

  &--catalog {
    margin-top: 22px;
    padding-bottom: 35px;
    margin-bottom: 0;
  }
}
