.page {
  height: 100%;
}

.page__body {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-base;
  color: $color-base;
  background-color: $color-white-base;
  margin: 0;
}
