.programs {
  padding-bottom: 34px;
}

.programs__item {
  background-color: $grey-base;
  margin-top: 20px;
  border: 1px solid $grey-border;
  padding: 20px;
}

.programs__title {
  @include third-title-style;
  text-transform: uppercase;
  padding-left: 70px;
}

.programs__description {
  padding-bottom: 22px;
  border-bottom: 1px solid $grey-border;
}

.programs__item--slim {
  background-image: url("../img/cat-sit.svg");
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.programs__item--pro {
  background-image: url("../img/cat-walk.svg");
  background-repeat: no-repeat;
  background-position: 13px 23px;
}

.programs__link {
  font-family: $font-add;
  text-decoration: none;
  color: $black-bold;
  font-size: 16px;
  text-transform: uppercase;
}
