.programs {
  padding-bottom: 23px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: $grey-base;
  padding: 20px;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 277px;
    padding-bottom: 50px;
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    width: 39%;
    padding-top: 41px;
  }

  &--slim {
    background-image: url("../img/cat-sit.svg");
    background-repeat: no-repeat;
    background-position: 22px 21px;

    @media (min-width: $tablet-width) {
      background-position: 470px 70px;
      background-image: url("../img/cat-sit-big.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) {
      padding-right: 50px;
      background-position: 52px 41px;
      background-size: 100px 106px;
    }
  }

  &--pro {
    background-image: url("../img/cat-walk.svg");
    background-repeat: no-repeat;
    background-position: 13px 24px;

    @media (min-width: $tablet-width) {
      padding-right: 315px;
      background-image: url("../img/cat-walk-big.svg");
      background-repeat: no-repeat;
      background-position: 400px 150px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 50px;
      background-position: 33px 47px;
      background-size: 134px 100px;
    }
  }
}

.programs__title {
  @include third-title-style;
  text-transform: uppercase;
  padding-left: 71px;
  margin-bottom: 34px;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 164px;
    margin-bottom: 50px;
  }
}

.programs__description {
  padding-bottom: 21px;
  border-bottom: 1px solid $grey-border;
  margin-bottom: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 50px;
  }
}

.programs__link {
  font-family: $font-add;
  text-decoration: none;
  color: $black-bold;
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 70px;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 101px 6px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    background-position: 125px 9px;
  }
}
