.social {
  padding: 20px;
  border-bottom: 1px solid $grey-border;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 49px;
  padding-left: 72px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__link {
  text-decoration: none;
  fill: $grey-icon;
  margin-right: 37px;

  &:hover {
    fill: $green-base;
  }

  &:active {
    opacity: 0.3;
  }
}
