@mixin lists-base {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@mixin second-title-style {
  font-weight: 400;
  color: $black-bold;
  font-size: 36px;
  font-family: $font-add;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

@mixin third-title-style {
  font-weight: 400;
  color: $black-bold;
  font-size: 24px;
  font-family: $font-add;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

@mixin third-title-catalog-style {
  font-family: $font-add;
  font-size: 16px;
  font-weight: 400;
  color: $black-special;
  text-transform: uppercase;
}

@mixin width-form-items {
  width: calc((100% - 80px) / 2);
}
