$font-base: "Oswald", "Arial", sans-serif;
$font-add: "Arial", sans-serif;

$color-base: #444444;
$color-white-base: #ffffff;
$black-bold: #000000;
$grey-undeground: #e6e6e6;
$green-base: #68b738;
$grey-base: #f2f2f2;
$grey-additional: #eaeaea;
$grey-border: #d9d9d9;
$black-base: #111111;
